.TextField {
	display: flex;
	flex-direction: column;

	input {
		padding: 15px 12px;
		width: 350px;
		border-radius: 7px;
		border-style: solid;
		border-width: 1px;
		background-color: #fafafa;
		/* font-size: large; */
	}

	input:focus {
		outline: none;
		border-color: var(--navBlue);
		caret-color: var(--navBlue);
	}
	label {
		color: var(--textBlack);
		margin-bottom: 7px;
		padding-left: 5px;
	}
}

.SelectField {
	display: flex;
	flex-direction: column;

	select {
		padding: 15px 12px;
		width: 350px;
		border-radius: 7px;
		border: 1px black solid;
		/* border-width: 1px; */
		background-color: #fafafa;
		/* font-size: large; */
	}

	select:focus {
		outline: none;
		border-color: var(--navBlue);
		caret-color: var(--navBlue);
	}
	label {
		color: var(--textBlack);
		margin-bottom: 7px;
		padding-left: 5px;
	}
}

.formButton {
	padding: 15px 12px;
	width: 350px;
	text-align: center;
	border: none;
	border-radius: 5px;
	color: var(--bgWhite);
	font-weight: 600;
	cursor: pointer;

	&.primary {
		background-color: var(--primary-btn);
	}

	&.cancel {
		background-color: red;
	}
}

.toastContainer {
	position: fixed;
	.toast {
		position: relative;
		top: 0px;
		right: 0px;
		/* text-wrap: nowrap; */
		/* left: 50%;
		transform: translate(-50%, -100%); */
		padding: 20px;
		margin: 10px;
		border-radius: 20px;
		color: #ffffffff;
		/* background-color: #f44336;    */
		font-weight: 600;
		max-width: 500px;
		transition: 0.5s;
		transition-delay: 0.1s;
		opacity: 0;
		&.toast-active {
			transform: translate(0, 50px);
			opacity: 1;
		}

		&.toast-success {
			background-color: #4caf50;
		}
		&.toast-error {
			background-color: #f44336;
		}
	}
}
