:root {
   --navBlue: #0c53fb;
   --bgWhite: #fffdfe;
   --bgGray: #f2f5fa;
   --textGray: #8c96a0;
   --textBlack: #2a3644;
   --borderColor: #e2e5eb;
}

.login {
   width: 50%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   row-gap: 30px;
   h1 {
      color: var(--textBlack);
   }
   form {
      display: flex;
      flex-direction: column;
      row-gap: 20px;

      input {
         padding: 15px 12px;
         width: 370px;
         border-radius: 7px;
         border-style: solid;
         border-width: 1px;
         background-color: #fafafa;
         /* font-size: large; */
      }

      input:focus {
         outline: none;
         border-color: var(--navBlue);
         caret-color: var(--navBlue);
      }
      label {
         color: var(--textBlack);
         margin-bottom: 7px;
         padding-left: 5px;
      }

      button {
         padding: 15px 12px;
         width: 100%;
         text-align: center;
         display: inline-block;
         border: none;
         border-radius: 5px;
         margin-right: 15px;
         background-color: #206ce7;
         color: var(--bgWhite);
         box-shadow: 0.5px 1px 1px #206ce7;
         font-weight: 600;
      }
   }
   span {
      display: flex;
      flex-direction: row;
      color: var(--textBlack);
      gap: 5px;

      .registerLink {
         font-weight: 600;
      }
   }

   .error_msg {
      height: 10px;
      text-align: right;
      font-size: 11px;
      font-weight: 400;
      padding: 5px;
      color: rgb(209, 0, 0);
   }
}
