:root {
	--navBlue: #0c53fb;
	--bgWhite: #fffdfe;
	--bgGray: #f2f5fa;
	--textGray: #8c96a0;
	--textBlack: #2a3644;
	--borderColor: #e2e5eb;
	--bgList: #f0f1f6;
}
.commentRecord {
	display: flex;
	flex-direction: row;
	gap: 5px;
	// box-shadow: 0.5px 0.5px 1px var(--textGray);
	.name {
		text-align: center;
		align-content: center;
		// border-right: 1px solid var(--textGray);
		width: 100px;
		font-size: 13px;
		background-color: white;
		height: 40px;
		padding: 10px;
		border-radius: 10px;
		overflow: hidden;
	}
	.comment {
		text-align: left;
		align-items: center;
		width: 100%;
		font-size: 13px;
		padding-left: 15px;
		padding-right: 15px;
		background-color: white;
		height: 40px;
		padding: 15px;
		border-radius: 0 15px 15px 15px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
}
