:root {
	--navBlue: #0c53fb;
	--bgWhite: #fffdfe;
	--bgGray: #f2f5fa;
	--textGray: #8c96a0;
	--textBlack: #2a3644;
	--borderColor: #e2e5eb;
	--bgList: #f0f1f6;
}
.commentRecord {
	display: flex;
	flex-direction: row;
	background-color: white;
	height: 40px;
	padding: 10px;
	border-radius: 7px;
	box-shadow: 0.5px 0.5px 1px var(--textGray);
	.name {
		text-align: center;
		align-content: center;
		border-right: 1px solid var(--textGray);
		width: 20%;
		font-size: 13px;
	}
	.comment {
		text-align: left;
		align-content: center;
		width: auto;
		font-size: 13px;
		padding-left: 15px;
	}
}
