* {
	font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		"Open Sans",
		"Helvetica Neue",
		sans-serif,
		Verdana,
		Geneva,
		Tahoma,
		sans-serif;
}
.ReviewPage {
	display: flex;
	flex-direction: column;
	margin: 20px;
	gap: 20px;

	.reviewMain {
		border-radius: 20px;
		padding: 20px;
		height: calc(100vh - 200px);
		width: 100%;

		.taskDetails {
			background-color: white;
			border-radius: 10px;
			min-height: 200px;
			padding: 20px;
			margin-bottom: 30px;

			.taskDetailsHeader {
				display: flex;
				justify-content: space-between;
				align-items: center;

				.taskTitle {
					font-size: 24px;
					font-weight: 700;
				}

				.taskId {
					font-size: 18px;
					font-weight: 600;
					color: #4d4d4d;
				}

				.taskStatus {
					height: 32px;
					align-content: center;
					color: var(--textGray);
					padding: 0 5px 0 5px;
					border-radius: 8px;
				}

				.taskDetails {
				}

				.review {
					height: 32px;
					align-content: center;
					color: var(--textGray);
					padding: 0 5px 0 5px;
					border-radius: 8px;
				}
			}
		}
		.contributionHeading {
			display: flex;
			justify-content: space-between;
			margin-bottom: 20px;
			font-size:large;
			padding-right: 50px;

			.split {
				margin-left: 100px;
				margin-right: 100px;
				width: 100px;
				min-width: fit-content;
				background-color: #f5ebb1;
				border-style: solid;
				border-color:white;
			 
			 
				border-width: 2px;
				border-radius: 10px;
				height: 50px;
				padding: 10px;
				box-shadow:
					-1px -1px 20px 0.5px rgba(235, 233, 233, 0.3) inset,
					0 0 10px #00000027;
				cursor: pointer;

				transition: all 0.3s ease;
			}
			.split:hover {
				background-color: white;
				box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
			}

			.split:active {
				transform: translateY(1px);
				box-shadow: none;
			}
		}
		.contributionSection {
			display: flex;
			flex-direction: column;
			gap: 20px;
			background-color: white;
			border-radius: 8px;
			padding: 15px;

			.contributionWrapper {
				display: flex;
				gap: 20px;
				align-items: start;

				.contribution {
					width: 80%;
					background-color: #d4d4d4;
					background-color: white;
					border-radius: 20px;
					.contributedParticipant {
						cursor: pointer;
						background-color: #f5ebb1;
						padding: 20px;
						border-radius: 20px;
						display: flex;
						align-items: center;
						gap: 20px;
						/* justify-content: space-between; */
						/* flex-direction: column; */
						.participantName {
							font-size: 20px;
							font-weight: 500;
						}
						.contributionCount {
							font-size: 16px;
							font-weight: 300;
							flex: 1;
							/* color: #4d4d4d; */
						}
						.imgContainer {
							height: 20px;
							img {
								height: 100%;
								border-radius: 50%;
							}
						}
					}

					.contributionList {
						padding: 20px;
						padding-top: 0;

						.contributionListElement {
							height: 40px;
							display: flex;
							align-items: end;
							border-left: black 2px solid;
							.contributionListElementBody {
								margin-left: -16px;
								width: 100%;
								border-radius: 20px;
								display: flex;
								align-items: center;
								background-color: #efecda;
								cursor: pointer;

								img {
									height: 30px;
									width: 30px;
									padding: 8px;
									border-radius: 50%;
									background-color: rgba(236, 113, 113, 0.788);
								}

								.contributionListElementContent {
									padding: 0 10px;
									/* height: 40px; */
								}
							}
						}
					}
				}
				.TextField {
					/* width: 125px; */
					flex-direction: row;
					justify-content: space-between;
					align-items: center;
					gap: 5px;
					input {
						width: min-content;
						height: 40px;
						text-align: center;
					}
					label {
						margin: 0;
					}
				}
			}
			.rewardWrapper {
				display: flex;
				align-items: center;
				margin-left:100px;
				margin-top:15px;
			}
		}
	}
}
.split {
	margin-left: 100px;
	margin-right: 100px;
	width: 100px;
	min-width: fit-content;
	background-color: #f5ebb1;
	border-style: solid;
	border-color: #e4d99a;
	border-width: 5px;
	border-radius: 10px;
	height: 50px;
	padding: 10px;
	box-shadow:
		-1px -1px 20px 0.5px rgba(235, 233, 233, 0.3) inset,
		0 0 10px #00000027;
	cursor: pointer;

	transition: all 0.3s ease;
}
